<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allows you to recognise your voice to create tasks</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allows you create tasks</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Smartroom</string>
	<key>CFBundleIdentifier</key>
	<string>com.universityofutahhealth.CRIS</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>CustomLaunchScreen</string>
	<key>CFBundleName</key>
	<string>Smartroom</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>NSSiriUsageDescription</key>
	<string>Smartroom would like to open other apps on this device</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>New Entry</string>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSSiriUseageDescription</key>
	<string>Use Siri to control the App</string>
</dict>
</plist>
